$header-height: 3rem;

html {
    scroll-behavior: smooth;
  }
  
  header.main-header{
      font-family: Roboto-italic;
      width: 100%;
      height: $header-height;
      background-color: #161616;

        &.transparent{
            background-color: rgba(255, 255, 255, 0);

            .bars .line{
                stroke: #000000;
              }

            .full-menu {
              background-color: rgba(255, 255, 255, 1);
              li{
                a{
                  color: #000000;
                }
              }
            }
        }

      z-index: 999;
      position: fixed;
  
      filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.20));
      -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.20));
  
      .trigger{
        margin-top: 1.6rem;
        margin-left: 2rem;

      }

      nav{
        button.backForm{
            position: absolute;
            margin-top: 0.9rem;
            margin-left: 4rem;
            background-color: transparent;
            border: none;
            cursor: pointer;
            display: flex;
            padding: 0;
            outline: none;
    
            fill: #ffffff;
    
            svg{
                height: 1.3rem;
            }
            &:hover{
                fill: #8D8D8D;
            }
            }
      }
  
      ul.horizontal{
        margin-top: 1rem;
        position: absolute;
        list-style: none;
        align-self: center;
        li{
            position: relative;
            float: left;
        }

        &.white{
          margin-left: 1.5rem;
          li{
            a{
              color: #ffffff;
            }
          }
        }
      }
      ul{
        li{
          a{
            font-weight: 900;
            color: #000000;
            margin: 0px 20px 0 0;
            transition: color 0.3s;
            -webkit-transition: color 0.3s;
            -moz-transition: color 0.3s;
            -ms-transition: color 0.3s;
            -o-transition: color 0.3s;
            &:hover{
                color: #8D8D8D;
            }
        }
        }
      }
  }
  
    .trigger {
      position: absolute;
      z-index: 2;
      border-radius: 10px;
      transform: translateX(-50%) translateY(-50%);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
  }
  
  .bars {
    width: 60px;
    cursor: pointer;
  }
  
  .bars .line {
    fill: none;
    stroke: #ffffff;
    stroke-width: 4;
    stroke-linecap: square;
    transition: stroke-dasharray 400ms,  stroke-dashoffset 400ms;
  }

  .bars.active .line{
    stroke: #ffffff;
  }

  .bars .line.top {
    stroke-dasharray: 40 172;
  }
  .bars .line.middle {
    stroke-dasharray: 40 111;
  }
  .bars .line.bottom {
    stroke-dasharray: 40 172;
  }
  
  .bars.active .top {
    stroke-dashoffset: -132px;
  }
  .bars.active .middle {
    stroke-dashoffset: -71px;
  }
  .bars.active .bottom {
    stroke-dashoffset: -132px;
  }
  
  .full-menu{
    z-index: 2;
    position: absolute;
    width: 50vw;
    @media (max-width: 768px){
        width: 70vw;
    }
    height: 0;
    background-color: #161616;
    h3{
      display: none;
    }
    ul{
      display: none;
      list-style: none;
    }
    div{
      height: 0;
      display: none;
    }
    form.img-perfil-container{
      height: 0;
    }
    img.img-perfil{
      width: 0;
    }
    input[type='file']{
      display: none;
    }

    &.opened{
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s;
      height: 100vh;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;

      div.menu-container{
        text-align: center;
        width: 90%;
        height: 95%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        color: #ffffff;

        h3{
          font-size: 2rem;
          margin: auto;
          margin-bottom: 1rem;
          display: block;
        }

        form.img-perfil-container{
          margin: 1rem auto;
          display: block;
          width: 22.7rem;
          height: auto;

          img.img-perfil{
            margin: auto;
            width: 100%;
            height: auto;
            background-color: #ffffff;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
          }

          div.buttonImg{
            margin-top: -0.27rem;
            float: left;
            width: 22.7rem;
            height: 3rem;
            background-color: #126fbb;
            display: flex;
            align-items: center;
            justify-content: center;
            label{
                color: #ffffff;
  
                &:hover{
                    cursor: pointer;
                }
            }
  
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
  
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  
            &:hover{
                background-color: rgba(18, 80, 220, 1);
                cursor: pointer;
            }
        }
        }

        @media(max-width:768px) and(min-width: 500px){
          form.img-perfil-container{
            width: 20rem;
            div.buttonImg{
              width: 20rem;
            }
          }
        }
        @media(max-width:500px) and(min-width: 380px){
          h3{
            font-size: 1.4rem;
          }
          form.img-perfil-container{
            width: 15rem;
            div.buttonImg{
              width: 15rem;
            }
          }
        }
        @media(max-width:380px){
          h3{
            font-size: 1.4rem;
          }
          form.img-perfil-container{
            width: 11rem;
            div.buttonImg{
              width: 11rem;
            }
          }
        }

        ul{
          margin: 0 auto;
          display: block;
    
          li{
            margin-left: -1rem;
            a{
              color: #ffffff;
              font-size: 1.2rem;
              line-height: 1.8rem;
              @media(max-width: 550px){
                  font-size: 0.9rem;
                  line-height: 1.2rem;
              }
            }
          }
        }

      }

      ul{
        display: block;
        text-align: center;
  
        li{
          margin-left: -1rem;
          a{
            color: #ffffff;
            font-size: 1.5rem;
            line-height: 4rem;
            @media(max-width: 550px){
                font-size: 1.2rem;
                line-height: 3rem;
            }
          }
        }
      }
    }
    transition: height 0.3s;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
}