.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
  }

.card{
    background-color: #ffffff;
    color: black;
    height: auto;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    font-family: Oxygen;

    div.card-image{
        height: min-content;
        img{
            width: 100%;
        }
    }
    div.card-content{
        padding: 1rem;
        font-size: 0.9rem;
    }
    overflow: hidden;
}

  @media (max-width: 900px) {
    .cards { 
        grid-template-columns: repeat(1, 1fr);
        .card:nth-child(1){
            margin: 5% 5% 0 5%;
        }
        .card{
            margin: 0% 5% 0 5%;
            width: 90%;
        }
    }
    .footerInformation{
        grid-template-columns: repeat(1, 2fr);
        text-align: center;
    
        div{
            width: 100%;
            margin: auto;
        }
        div:nth-child(1){
            margin-bottom: -4%;
            img{
                width: 60%;
            }
        }
        div:nth-child(3){
            margin-top: 14%;
            img{
                width: 90%;
            }
        }
    }
    footer{
        grid-template-columns: repeat(2, 2fr);

        div{
            ul{
                font-size: 0.8rem;
            }
        }
        div:nth-child(3){
            margin-top: -2rem;
        }
    }
    .progress-container{
        grid-template-columns: repeat(1, 2fr);
    }
    .img-user-progress{
        grid-template-columns: repeat(1, 2fr);
    }
  }

  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 2fr);
        grid-gap: 3rem;
        .card{
            margin: 5% 5% 0 5%;
            width: 92%;
        }
    }
    .footerInformation{
        grid-template-columns: repeat(3, 2fr);

        div{
            width: 100%;
            margin: auto;
        }
        div:nth-child(1){
            margin-left: 5%;
            img{
                width: 70%;
            }
        }
        div:nth-child(2){
            margin-left: -25%;
            margin-right: 0;
            text-align: center;
        }
        div:nth-child(3){
            margin-left: -30%;
            img{
                width: 120%;
            }
        }
    }
    footer{
        grid-template-columns: repeat(3, 2fr);

        div{
            ul{
                font-size: 0.9rem;
            }
        }
    }
    .progress-container{
        grid-template-columns: repeat(3, 2fr);
    }
    .img-user-progress{
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 1rem;

        div:nth-child(1){
            grid-column-start: 1;
            grid-column-end: 3;
        }
        div:nth-child(2){
            grid-column-start: 1;
            grid-column-end: 3; 
        }
        div:nth-child(3){
            margin-left: 1rem;
            grid-column-start: 1;
            grid-column-end: 2; 
        }
        div:nth-child(4){
            margin-left: 0rem;
            grid-column-start: 2;
            grid-column-end: 2; 
        }
    }
  }

  @media (min-width: 1244px) {
    .cards { grid-template-columns: repeat(3, 2fr);
        grid-gap: 4rem;
        .card{
            margin: 5% 5% 0 5%;
            width: 100%;
        }
    }
  }

  .footerInformation{
    display: grid;
    width: 100%;
    margin-top: 1rem;
    font-family: Roboto-italic;

    img{
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    h2{
        margin-bottom: 2.5rem;
    }
  }

  footer{
    padding-bottom: 2rem;
    background-color: var(--colorHeader);
    font-family: Roboto-italic;
    
    width: 100%;
    display: grid;

    div{
        text-align: start;
        margin: 3rem auto;
        width:50%;

        h3{
            color: #d4d4d4;
            font-size: 1.5rem;
            margin-bottom: 0rem;
        }

        ul{
            list-style: none;
            padding-left: 0;

            li{
                margin-bottom: 0.7rem;
                a{
                    color: #8d8d8d;
                    transition: color 0.5s;
                    -webkit-transition: color 0.5s;
                    -moz-transition: color 0.5s;
                    -ms-transition: color 0.5s;
                    -o-transition: color 0.5s;
                    &:hover{
                        color: white;
                    }
                }
            }
        }
    }
  }

  .progress-container{
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    background-color: #333333;
    font-family: Roboto-italic;

    div.img-user-progress{
        width: 100%;
        margin: 0 auto;

        input[type="file"]{
            display: none;
        }

        div.formPhoto{
            .img-Actual{
                width: 100%;

                
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
        }

        .photoSelectButton{
            margin-top: 1rem;
           width: 100%;
            height: 40rem;

            overflow: hidden;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            &:hover{
                cursor: pointer;
            }

            .photoInput{
                height: 100%;
                width: 100%;
                border: 3px;
                border-style: solid ;
                border-color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;

                svg{
                    fill: #ffffff;
                    width: 7rem;
                }

                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
        }

        display: grid;
        div.buttonImg{
            float: left;
            width: 95%;
            height: 3rem;
            margin-top: 0.7rem;
            background-color: #126fbb;
            display: flex;
            align-items: center;
            justify-content: center;
            label{
                color: #ffffff;

                &:hover{
                    cursor: pointer;
                }
            }

            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;

            transition: background-color, 0.7s;
            -webkit-transition: background-color, 0.7s;
            -moz-transition: background-color, 0.7s;
            -ms-transition: background-color, 0.7s;
            -o-transition: background-color, 0.7s;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

            &:hover{
                background-color: rgba(18, 80, 220, 1);
                cursor: pointer;
            }
        }
    }
    div{
        margin: 0 auto;
        width: 95%;

        form{
            p{
                color: #8D8D8D;
                font-size: 0.8em;
                margin-bottom: 0.3rem;
            }
            input[type="date"], input[type="text"], input[type="password"], input[type="password"], input[type="number"]{
                border-top: 0;
                border-left: 0;
                border-right: 0;
                padding: 0 0 0.5rem 0.7rem;
                border-color: #126fbb;
                color: #ffffff;
                background-color: transparent;
                width: 100%;
                font-size: 1.2rem;
                margin-bottom: 0.7rem;

                &:focus{
                    outline: none;
                    background-color: transparent;
                    border-color: #696969;
                }
            }
        }
    }
  }
/*  .container{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
  }

  .row{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
} 
    ul{
        list-style: none;
        list-style-type: none;
    }

    > ul{
        display: flex;
        justify-content: center;
        
        li{
            ul{
                li{
                    background-color: red;
                }
            }
        }
    }
*/
