#information3
{
    width: 100%;
    height: auto;
    background-color:#333333 ;
}


#box
{
    margin: auto;
    width:100%;
    position: relative;
    background-color: #ffffff;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    padding: 0.7rem;
    color: #000000;
    font-family:Oxygen;
    src: url('../../src/fonts/Oxygen-Bold.ttf');
}

.TituloFormulario
{
    font-size:2rem;

}
#TopDescripcion
{
    top:20px;
    position: absolute;
    
}
#TopContenido
{
    top:30px;
    position: absolute;
}

.formulario 
{
    border: 0;
    background-color:#ffffff ;
    width:100%;
    font-size: 1rem;
    color: #000000;
    margin-bottom:3%;
    box-shadow: none;

}
.formularioContenido
{
    background-color:#333333 ;
    width:95%;
    font-family:Oxygen;
    src: url('../../src/fonts/Oxygen-Bold.ttf');
    height:20vw;
    font-size:20px;
    padding-top:-100px;
    color:#191818;
    margin-bottom:3%;

}
.buttonCategoria
{
    width:20%;
    height: 20vw;
    background-color:#333333 ;
    font-size:3.2vw;
    font-family:Oxygen;
    src: url('../../src/fonts/Oxygen-Bold.ttf');
    color:white;
}
.ButtonInformacion
{
    width:40%;
    height:5vw;
    background-color: teal;
    color:white;
    left:24vw;
    position: relative;
    border-radius:15px;
    font-size:2.8vw;
    font-family:Oxygen;
    src: url('../../src/fonts/Oxygen-Bold.ttf');
}
 /* ----------------------------------------------------------------------------------NOTAS----------------------------------------------------------------------------------------------- */
.buttonAgregar
{
    width:10%;
    height:8vw;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: relative;
    left:600px;
    top:-70px;
    background-color:#4F71E2;
    margin: 0px , 0px , 0px 0px ;
    
}
.imagencompleta
{
    width:100%;
    height:100%;
}
#notas
{
    width:87.8%;
    height:auto;
    position: relative;
    background-color: #222222;
    border-width:5px;
   clear:none;
    top:-30px;
    left:6%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-left:26px;
    padding-top:40px;
}
#nota
{
    width:87.8%;
    height:auto;
    position: relative;
    background-color:#333333;
    border-width:5px;
   clear:none;
    top:-30px;
    left:6%;
    margin-top:20px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    padding-left:26px;
    padding-top:50px;
}
.TituloNota
{
    font-size:2vw;
    font-family:Oxygen;
    src: url('../../src/fonts/Oxygen-Bold.ttf');
    margin:20px;
    color:white;
}
.TextoNota
{
   color:#A1A8B1;
   font-size:1.7vw;
    font-family:Oxygen;
    src: url('../../src/fonts/Oxygen-Bold.ttf');
    margin:20px;

}
.Fecha
{
    font-size:1.2vw;
    font-family:Oxygen;
    src: url('../../src/fonts/Oxygen-Bold.ttf');
    margin:20px;
    color:white;
}
.ContenidoFecha
{
    font-size:1.1vw;
    font-family:Oxygen;
    src: url('../../src/fonts/Oxygen-Bold.ttf');
    margin:20px;
    color:white:


}
@media screen and (max-width: 1280px){
    #information3
{
    width: 100%;
    height: auto;
    background-color:#333333 ;
}


#box
{   
    width:87.8%;
    height:900px;
    position: relative;
    background-color: #222222;
    border-width:5px;
   clear:none;
    left:6%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-left:26px;
    padding-top:40px;

}

.TituloFormulario
{
    font-size:3.2vw;
    font-family:Oxygen;
    src: url('../../src/fonts/Oxygen-Bold.ttf');
    padding-top:20vw;
    color:white;
}
#TopDescripcion
{
    top:20px;
    position: absolute;
    
}
#TopContenido
{
    top:30px;
    position: absolute;
}

.formulario 
{
    background-color:#333333 ;
    width:95%;
    font-family:Oxygen;
    src: url('../../src/fonts/Oxygen-Bold.ttf');
    height:4vw;
    font-size:26px;
    color:#191818;
    margin-bottom:3%;

}
.formularioContenido
{
    background-color:#333333 ;
    width:95%;
    font-family:Oxygen;
    src: url('../../src/fonts/Oxygen-Bold.ttf');
    height:20vw;
    font-size:20px;
    padding-top:-100px;
    color:#191818;
    margin-bottom:3%;

}
.buttonCategoria
{
    width:20%;
    height: 20vw;
    background-color:#333333 ;
    font-size:3.2vw;
    font-family:Oxygen;
    src: url('../../src/fonts/Oxygen-Bold.ttf');
    color:white;
}
.ButtonInformacion
{
    width:40%;
    height:5vw;
    background-color: teal;
    color:white;
    left:24vw;
    position: relative;
    border-radius:15px;
    font-size:2.8vw;
    font-family:Oxygen;
    src: url('../../src/fonts/Oxygen-Bold.ttf');

}
@media screen and (max-width: 970px){
 #notas
{
    width:100%;
    height:auto;
    position: relative;
    background-color: #222222;
    border-width:5px;
   clear:none;
    top:-30px;
    left:0%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-left:26px;
    padding-top:40px;
}
#nota
{
    width:96%;
    height:auto;
    position: relative;
    background-color:#333333;
    border-width:5px;
   clear:none;
    top:-30px;
    left:0.5%;
    margin-top:20px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    padding-left:26px;
    padding-top:14px;
}
.TituloNota
{
    font-size:2.2vw;
    font-family:Oxygen;
    src: url('../../src/fonts/Oxygen-Bold.ttf');
    margin:20px;
    color:white;
}
.TextoNota
{
   color:#A1A8B1;
   font-size:1.9vw;
    font-family:Oxygen;
    src: url('../../src/fonts/Oxygen-Bold.ttf');
    margin:20px;

}
.buttonAgregar
{
    width:11%;
    height:9vw;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: relative;
    left:450px;
    top:-70px;
    background-color:#4F71E2;
    margin: 0px , 0px , 0px 0px ;
    
}
    #information3
    {
        width: 100%;
        height: 50vw;
        background-color:#333333 ;
    }
    #box
{   
    width:92%;
    height:900px;
    position: relative;
    background-color: #222222;
    border-width:5px;
   clear:none;
    left:4%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-left:26px;
    padding-top:40px;
}

    .ButtonInformacion
{
    width:60%;
    height:6vw;
    background-color: teal;
    color:white;
    left:17vw;
    position: relative;
    border-radius:15px;
    font-size:3.1vw;
    font-family:Oxygen;
    src: url('../../src/fonts/Oxygen-Bold.ttf');

}
}
    
}




@media screen and (max-width: 767px){
    #notas
    {
        width:100%;
        height:auto;
        position: relative;
        background-color: #222222;
        border-width:5px;
       clear:none;
        top:28px;
        left:0%;
        padding-bottom: 0px;
        margin-bottom: 0px;
        padding-left:26px;
        padding-top:40px;
    }
    #nota
    {
        width:96%;
        height:auto;
        position: relative;
        background-color:#333333;
        border-width:5px;
       clear:none;
        top:-30px;
        left:0.5%;
        margin-top:20px;
        padding-bottom: 0px;
        margin-bottom: 10px;
        padding-left:26px;
        padding-top:14px;
    }
    .Fecha
{
    font-size:1.9vw;
    font-family:Oxygen;
    src: url('../../src/fonts/Oxygen-Bold.ttf');
    margin:20px;
    color:white;
}
.ContenidoFecha
{
    font-size:1.7vw;
    font-family:Oxygen;
    src: url('../../src/fonts/Oxygen-Bold.ttf');
    margin:20px;
    color:white:


}
.TituloNota
{
    font-size:2.5vw;
    font-family:Oxygen;
    src: url('../../src/fonts/Oxygen-Bold.ttf');
    margin:20px;
    color:white;
}
.TextoNota
{
   color:#A1A8B1;
   font-size:2vw;
    font-family:Oxygen;
    src: url('../../src/fonts/Oxygen-Bold.ttf');
    margin:20px;
}
.buttonAgregar
{
    width:12%;
    height:10vw;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: relative;
    left:340px;
    top:10px;
    background-color:#4F71E2;
    margin: 0px , 0px , 0px 0px ;
    
}
    #information3
    {
        width: 100%;
        height: 120vw;
        background-color:#333333 ;
    }
   
    #box
    {   
        width:101%;
        height:900px;
        top:80px;
        position: relative;
        background-color: #222222;
        border-width:5px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        padding-top:40px;
        left:-5px;
    }
    .TituloFormulario
    {
        font-size:5vw;
        font-family:Oxygen;
        src: url('../../src/fonts/Oxygen-Bold.ttf');
        padding-top:20vw;
        color:white;
    }
    .formulario 
    {
        background-color:#333333 ;
        width:95%;
        font-family:Oxygen;
        src: url('../../src/fonts/Oxygen-Bold.ttf');
        height:8vw;
        font-size:26px;
        color:#191818;
        margin-bottom:3%;
    
    }
    .formularioContenido
{
    background-color:#333333 ;
    width:95%;
    font-family:Oxygen;
    src: url('../../src/fonts/Oxygen-Bold.ttf');
    height:50vw;
    font-size:20px;
    padding-top:-100px;
    color:#191818;
    margin-bottom:3%;

}
.ButtonInformacion
{
    width:89%;
    height:9vw;
    background-color: teal;
    color:white;
    left:3vw;
    position: relative;
    border-radius:15px;
    font-size:3.5vw;
    font-family:Oxygen;
    src: url('../../src/fonts/Oxygen-Bold.ttf');

}
    
}
@media screen and (max-width: 600px){
    #nota
    {
        width:98%;
        height:auto;
        position: relative;
        background-color:#333333;
        border-width:5px;
       clear:none;
        top:-30px;
        left:0.5%;
        margin-top:20px;
        padding-bottom: 0px;
        margin-bottom: 9px;
        padding-left:2px;
        padding-top:14px;
    }
    #notas
    {
        width:100%;
        height:auto;
        position: relative;
        background-color: #222222;
        border-width:5px;
       clear:none;
        top:28px;
        left:0%;
        padding-bottom: 0px;
        margin-bottom: 0px;
        padding-left:4px;
        padding-top:30px;
    }
    .buttonAgregar
{
    width:13%;
    height:11vw;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: relative;
    left:42vw;
    top:10px;
    background-color:#4F71E2;
    margin: 0px , 0px , 0px 0px ;
    
}


    .TituloFormulario
    {
        font-size:5.2vw;
        font-family:Oxygen;
        src: url('../../src/fonts/Oxygen-Bold.ttf');
        padding-top:20vw;
        color:white;
    }
    .formulario 
    {
        background-color:#333333 ;
        width:95%;
        font-family:Oxygen;
        src: url('../../src/fonts/Oxygen-Bold.ttf');
        height:10vw;
        font-size:26px;
        color:#191818;
        margin-bottom:3%;
    
    }

    .formularioContenido
    {
        background-color:#333333 ;
        width:95%;
        font-family:Oxygen;
        src: url('../../src/fonts/Oxygen-Bold.ttf');
        height:60vw;
        font-size:20px;
        padding-top:-100px;
        color:#191818;
        margin-bottom:3%;
    


    }
    .ButtonInformacion
{
    width:89%;
    height:10vw;
    background-color: teal;
    color:white;
    left:0vw;
    position: relative;
    border-radius:15px;
    font-size:3.6vw;
    font-family:Oxygen;
    src: url('../../src/fonts/Oxygen-Bold.ttf');

}

}
@media screen and (max-width: 400px){
    .Fecha
    {
        font-size:3vw;
        font-family:Oxygen;
        src: url('../../src/fonts/Oxygen-Bold.ttf');
        margin:20px;
        color:white;
    }
    .ContenidoFecha
    {
        font-size:2.8vw;
        font-family:Oxygen;
        src: url('../../src/fonts/Oxygen-Bold.ttf');
        margin:20px;
        color:white:
    
    
    }
    .TituloNota
    {
        font-size:4vw;
        font-family:Oxygen;
        src: url('../../src/fonts/Oxygen-Bold.ttf');
        margin:20px;
        color:white;
    }
    .TextoNota
    {
       color:#A1A8B1;
       font-size:2.5vw;
        font-family:Oxygen;
        src: url('../../src/fonts/Oxygen-Bold.ttf');
        margin:20px;
    }
    #information3
    {
        width: 100%;
        height: 130vw;
        background-color:#333333 ;
    }
    .formularioContenido
    {
        background-color:#333333 ;
        width:95%;
        font-family:Oxygen;
        src: url('../../src/fonts/Oxygen-Bold.ttf');
        height:70vw;
        font-size:20px;
        padding-top:-100px;
        color:#191818;
        margin-bottom:3%;
    


    }
    .ButtonInformacion
{
    width:89%;
    height:14vw;
    background-color: teal;
    color:white;
    left:3vw;
    position: relative;
    border-radius:15px;
    font-size:4.2vw;
    font-family:Oxygen;
    src: url('../../src/fonts/Oxygen-Bold.ttf');

}
#box
    {   
        width:101%;
        height:600px;
        top:75px;
        position: relative;
        background-color: #222222;
        border-width:5px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        padding-top:40px;
        left:-5px;
    }

}

