:root {
  --navbar-height: 2.6rem;
  --colorHeader: #161616;
  --colorSectionInformation: #333333; }

@font-face {
  font-family: Roboto-black;
  src: url("../../src/fonts/Roboto-Black.ttf"); }

@font-face {
  font-family: Roboto-italic;
  src: url("../../src/fonts/Segoe UI.ttf"); }

@font-face {
  font-family: Oxygen;
  src: url("../../src/fonts/Segoe UI.ttf"); }

* {
  scroll-behavior: smooth;
  box-sizing: border-box; }

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

html {
  scroll-behavior: smooth; }

header.main-header {
  font-family: Roboto-italic;
  width: 100%;
  height: 3rem;
  background-color: #161616;
  z-index: 999;
  position: fixed;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
  -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2)); }
  header.main-header.transparent {
    background-color: rgba(255, 255, 255, 0); }
    header.main-header.transparent .bars .line {
      stroke: #000000; }
    header.main-header.transparent .full-menu {
      background-color: white; }
      header.main-header.transparent .full-menu li a {
        color: #000000; }
  header.main-header .trigger {
    margin-top: 1.6rem;
    margin-left: 2rem; }
  header.main-header nav button.backForm {
    position: absolute;
    margin-top: 0.9rem;
    margin-left: 4rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    outline: none;
    fill: #ffffff; }
    header.main-header nav button.backForm svg {
      height: 1.3rem; }
    header.main-header nav button.backForm:hover {
      fill: #8D8D8D; }
  header.main-header ul.horizontal {
    margin-top: 1rem;
    position: absolute;
    list-style: none;
    align-self: center; }
    header.main-header ul.horizontal li {
      position: relative;
      float: left; }
    header.main-header ul.horizontal.white {
      margin-left: 1.5rem; }
      header.main-header ul.horizontal.white li a {
        color: #ffffff; }
  header.main-header ul li a {
    font-weight: 900;
    color: #000000;
    margin: 0px 20px 0 0;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s; }
    header.main-header ul li a:hover {
      color: #8D8D8D; }

.trigger {
  position: absolute;
  z-index: 2;
  border-radius: 10px;
  transform: translateX(-50%) translateY(-50%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px; }

.bars {
  width: 60px;
  cursor: pointer; }

.bars .line {
  fill: none;
  stroke: #ffffff;
  stroke-width: 4;
  stroke-linecap: square;
  transition: stroke-dasharray 400ms,  stroke-dashoffset 400ms; }

.bars.active .line {
  stroke: #ffffff; }

.bars .line.top {
  stroke-dasharray: 40 172; }

.bars .line.middle {
  stroke-dasharray: 40 111; }

.bars .line.bottom {
  stroke-dasharray: 40 172; }

.bars.active .top {
  stroke-dashoffset: -132px; }

.bars.active .middle {
  stroke-dashoffset: -71px; }

.bars.active .bottom {
  stroke-dashoffset: -132px; }

.full-menu {
  z-index: 2;
  position: absolute;
  width: 50vw;
  height: 0;
  background-color: #161616;
  transition: height 0.3s;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s; }
  @media (max-width: 768px) {
    .full-menu {
      width: 70vw; } }
  .full-menu h3 {
    display: none; }
  .full-menu ul {
    display: none;
    list-style: none; }
  .full-menu div {
    height: 0;
    display: none; }
  .full-menu form.img-perfil-container {
    height: 0; }
  .full-menu img.img-perfil {
    width: 0; }
  .full-menu input[type='file'] {
    display: none; }
  .full-menu.opened {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    height: 100vh;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s; }
    .full-menu.opened div.menu-container {
      text-align: center;
      width: 90%;
      height: 95%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      color: #ffffff; }
      .full-menu.opened div.menu-container h3 {
        font-size: 2rem;
        margin: auto;
        margin-bottom: 1rem;
        display: block; }
      .full-menu.opened div.menu-container form.img-perfil-container {
        margin: 1rem auto;
        display: block;
        width: 22.7rem;
        height: auto; }
        .full-menu.opened div.menu-container form.img-perfil-container img.img-perfil {
          margin: auto;
          width: 100%;
          height: auto;
          background-color: #ffffff;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px; }
        .full-menu.opened div.menu-container form.img-perfil-container div.buttonImg {
          margin-top: -0.27rem;
          float: left;
          width: 22.7rem;
          height: 3rem;
          background-color: #126fbb;
          display: flex;
          align-items: center;
          justify-content: center;
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }
          .full-menu.opened div.menu-container form.img-perfil-container div.buttonImg label {
            color: #ffffff; }
            .full-menu.opened div.menu-container form.img-perfil-container div.buttonImg label:hover {
              cursor: pointer; }
          .full-menu.opened div.menu-container form.img-perfil-container div.buttonImg:hover {
            background-color: #1250dc;
            cursor: pointer; }
      @media (max-width: 768px) and (min-width: 500px) {
        .full-menu.opened div.menu-container form.img-perfil-container {
          width: 20rem; }
          .full-menu.opened div.menu-container form.img-perfil-container div.buttonImg {
            width: 20rem; } }
      @media (max-width: 500px) and (min-width: 380px) {
        .full-menu.opened div.menu-container h3 {
          font-size: 1.4rem; }
        .full-menu.opened div.menu-container form.img-perfil-container {
          width: 15rem; }
          .full-menu.opened div.menu-container form.img-perfil-container div.buttonImg {
            width: 15rem; } }
      @media (max-width: 380px) {
        .full-menu.opened div.menu-container h3 {
          font-size: 1.4rem; }
        .full-menu.opened div.menu-container form.img-perfil-container {
          width: 11rem; }
          .full-menu.opened div.menu-container form.img-perfil-container div.buttonImg {
            width: 11rem; } }
      .full-menu.opened div.menu-container ul {
        margin: 0 auto;
        display: block; }
        .full-menu.opened div.menu-container ul li {
          margin-left: -1rem; }
          .full-menu.opened div.menu-container ul li a {
            color: #ffffff;
            font-size: 1.2rem;
            line-height: 1.8rem; }
            @media (max-width: 550px) {
              .full-menu.opened div.menu-container ul li a {
                font-size: 0.9rem;
                line-height: 1.2rem; } }
    .full-menu.opened ul {
      display: block;
      text-align: center; }
      .full-menu.opened ul li {
        margin-left: -1rem; }
        .full-menu.opened ul li a {
          color: #ffffff;
          font-size: 1.5rem;
          line-height: 4rem; }
          @media (max-width: 550px) {
            .full-menu.opened ul li a {
              font-size: 1.2rem;
              line-height: 3rem; } }

main {
  margin: 0;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1; }
  main section a {
    width: min-content;
    background-color: #126fbb;
    padding: 1rem 5rem 1rem 5rem;
    text-decoration: none;
    color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: background-color, 0.7s;
    -webkit-transition: background-color, 0.7s;
    -moz-transition: background-color, 0.7s;
    -ms-transition: background-color, 0.7s;
    -o-transition-webkit-transition: background-color, 0.7s; }
    main section a:hover {
      background-color: #1250dc; }
  main section.background-image-1 {
    background-image: url("../../src/img/background-main-screen.jpg"); }
  main section.background-image-2 {
    background-image: url("../../src/img/background4.jpg"); }
    main section.background-image-2 div.image-2 h1 {
      font-size: 3.5rem; }
  main section.background-image-3 {
    background-image: url("../../src/img/background3.jpg"); }
    main section.background-image-3 div.image-3 h1 {
      font-size: 3.5rem; }
  main section.background-image-4 {
    background-image: url("../../src/img/background6.jpg"); }
    main section.background-image-4 div.image-4 h1 {
      font-size: 3.5rem; }
  main section.background-image-8 {
    background-image: url("../../src/img/background8.jpg"); }
    main section.background-image-8 div.image-8 h1 {
      font-size: 3.5rem; }
    main section.background-image-8 div.image-8 h2 {
      font-size: 2.5rem; }
  main section.background-image-9 {
    background-image: url("../../src/img/block.jpg"); }
    main section.background-image-9 div.image-9 h1 {
      font-size: 3.5rem; }
    main section.background-image-9 div.image-9 h2 {
      font-size: 2.5rem; }
  main section.background {
    height: calc(100vh - var(--navbar-height));
    width: 100%;
    display: flex;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-position: 20% 20%;
    background-size: cover, contain; }
    main section.background div.background-filter {
      position: absolute;
      margin: 0px;
      width: 100%;
      height: calc(100vh - var(--navbar-height));
      backdrop-filter: saturate(140%) brightness(90%) blur(1px); }
    main section.background div {
      width: 25rem;
      font-family: Roboto-italic;
      margin: 7rem 0 0 22rem;
      position: absolute;
      color: #ffffff; }
      main section.background div h1 {
        font-size: 4.5rem;
        margin-bottom: 0; }
      main section.background div h2 {
        margin-top: 0;
        font-size: 2rem; }
  main section.divider {
    overflow: hidden;
    position: absolute;
    margin-top: -12vw;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 220rem 12vw 0;
    border-color: transparent transparent var(--colorSectionInformation) transparent; }
  main section.information, main .footerInformation, main .strava-information {
    width: 100%;
    height: auto;
    background-color: var(--colorSectionInformation);
    padding-bottom: 8rem; }
  main section.footerInformation {
    background-color: #ffffff; }

@media (max-width: 860px) {
  main section.background {
    background-position: 75% 50%;
    display: flex;
    justify-content: center; }
    main section.background div {
      align-self: center;
      width: 20rem;
      margin: 0;
      text-align: center; }
      main section.background div h1 {
        font-size: 3.5rem; }
      main section.background div h2 {
        font-size: 1.5rem; } }

.responsive-image {
  width: 100%; }

.center {
  margin: auto; }

.left {
  margin: 0; }

.right {
  margin: 0 0 0 auto; }

.fixed {
  position: fixed; }

.absolute {
  position: absolute; }

.text-align-start {
  text-align: start; }

.text-align-center {
  text-align: center; }

.text-align-end {
  text-align: end; }

.after {
  display: none; }

.hide {
  display: none; }
  @media (max-width: 575px) {
    .hide-on-extra-small-only {
      display: none; } }
  @media (max-width: 767px) and (min-width: 576px) {
    .hide-on-small-only {
      display: none; } }
  @media (max-width: 991px) and (min-width: 768px) {
    .hide-on-medium-only {
      display: none; } }
  @media (max-width: 1199px) and (min-width: 992px) {
    .hide-on-large-only {
      display: none; } }
  @media (min-width: 1200px) {
    .hide-on-extra-large-only {
      display: none; } }
  @media (max-width: 778px) {
    .hide-on-small-and-down {
      display: none; } }
  @media (min-width: 778px) {
    .hide-on-small-and-up {
      display: none; } }

.show {
  display: inline; }
  @media (max-width: 575px) {
    .show-on-extra-small-only {
      display: inline; } }
  @media (max-width: 767px) and (min-width: 576px) {
    .show-on-small-only {
      display: inline; } }
  @media (max-width: 991px) and (min-width: 768px) {
    .show-on-medium-only {
      display: inline; } }
  @media (max-width: 1199px) and (min-width: 992px) {
    .show-on-large-only {
      display: inline; } }
  @media (min-width: 1200px) {
    .show-on-extra-large-only {
      display: inline; } }
  @media (max-width: 778px) {
    .show-on-small-and-down {
      display: inline; } }
  @media (min-width: 778px) {
    .show-on-small-and-up {
      display: inline; } }

div.error-msg {
  z-index: 1000;
  top: 0;
  font-family: Roboto-italic;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px) brightness(90%);
  -webkit-backdrop-filter: blur(6px) brightness(90%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  div.error-msg div.msg-container {
    height: 20rem;
    padding: 0 1rem 0 1rem;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }
    div.error-msg div.msg-container .msg {
      margin-top: 6rem; }
    div.error-msg div.msg-container .button-error-msg {
      width: 15rem;
      height: 3rem;
      margin: 2rem auto;
      background-color: #126fbb;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      transition: background-color, 0.7s;
      -webkit-transition: background-color, 0.7s;
      -moz-transition: background-color, 0.7s;
      -ms-transition: background-color, 0.7s;
      -o-transition: background-color, 0.7s;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }
      div.error-msg div.msg-container .button-error-msg label {
        color: #ffffff; }
        div.error-msg div.msg-container .button-error-msg label:hover {
          cursor: pointer; }
      div.error-msg div.msg-container .button-error-msg:hover {
        background-color: #1250dc;
        cursor: pointer; }

@media (min-width: 425px) {
  div.msg-container {
    width: 30rem; } }

@media (max-width: 425px) {
  div.msg-container {
    width: 20rem; } }

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem; }

.card {
  background-color: #ffffff;
  color: black;
  height: auto;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: Oxygen;
  overflow: hidden; }
  .card div.card-image {
    height: min-content; }
    .card div.card-image img {
      width: 100%; }
  .card div.card-content {
    padding: 1rem;
    font-size: 0.9rem; }

@media (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(1, 1fr); }
    .cards .card:nth-child(1) {
      margin: 5% 5% 0 5%; }
    .cards .card {
      margin: 0% 5% 0 5%;
      width: 90%; }
  .footerInformation {
    grid-template-columns: repeat(1, 2fr);
    text-align: center; }
    .footerInformation div {
      width: 100%;
      margin: auto; }
    .footerInformation div:nth-child(1) {
      margin-bottom: -4%; }
      .footerInformation div:nth-child(1) img {
        width: 60%; }
    .footerInformation div:nth-child(3) {
      margin-top: 14%; }
      .footerInformation div:nth-child(3) img {
        width: 90%; }
  footer {
    grid-template-columns: repeat(2, 2fr); }
    footer div ul {
      font-size: 0.8rem; }
    footer div:nth-child(3) {
      margin-top: -2rem; }
  .progress-container {
    grid-template-columns: repeat(1, 2fr); }
  .img-user-progress {
    grid-template-columns: repeat(1, 2fr); } }

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 3rem; }
    .cards .card {
      margin: 5% 5% 0 5%;
      width: 92%; }
  .footerInformation {
    grid-template-columns: repeat(3, 2fr); }
    .footerInformation div {
      width: 100%;
      margin: auto; }
    .footerInformation div:nth-child(1) {
      margin-left: 5%; }
      .footerInformation div:nth-child(1) img {
        width: 70%; }
    .footerInformation div:nth-child(2) {
      margin-left: -25%;
      margin-right: 0;
      text-align: center; }
    .footerInformation div:nth-child(3) {
      margin-left: -30%; }
      .footerInformation div:nth-child(3) img {
        width: 120%; }
  footer {
    grid-template-columns: repeat(3, 2fr); }
    footer div ul {
      font-size: 0.9rem; }
  .progress-container {
    grid-template-columns: repeat(3, 2fr); }
  .img-user-progress {
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1rem; }
    .img-user-progress div:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 3; }
    .img-user-progress div:nth-child(2) {
      grid-column-start: 1;
      grid-column-end: 3; }
    .img-user-progress div:nth-child(3) {
      margin-left: 1rem;
      grid-column-start: 1;
      grid-column-end: 2; }
    .img-user-progress div:nth-child(4) {
      margin-left: 0rem;
      grid-column-start: 2;
      grid-column-end: 2; } }

@media (min-width: 1244px) {
  .cards {
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 4rem; }
    .cards .card {
      margin: 5% 5% 0 5%;
      width: 100%; } }

.footerInformation {
  display: grid;
  width: 100%;
  margin-top: 1rem;
  font-family: Roboto-italic; }
  .footerInformation img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }
  .footerInformation h2 {
    margin-bottom: 2.5rem; }

footer {
  padding-bottom: 2rem;
  background-color: var(--colorHeader);
  font-family: Roboto-italic;
  width: 100%;
  display: grid; }
  footer div {
    text-align: start;
    margin: 3rem auto;
    width: 50%; }
    footer div h3 {
      color: #d4d4d4;
      font-size: 1.5rem;
      margin-bottom: 0rem; }
    footer div ul {
      list-style: none;
      padding-left: 0; }
      footer div ul li {
        margin-bottom: 0.7rem; }
        footer div ul li a {
          color: #8d8d8d;
          transition: color 0.5s;
          -webkit-transition: color 0.5s;
          -moz-transition: color 0.5s;
          -ms-transition: color 0.5s;
          -o-transition: color 0.5s; }
          footer div ul li a:hover {
            color: white; }

.progress-container {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  background-color: #333333;
  font-family: Roboto-italic; }
  .progress-container input[type=number]::-webkit-inner-spin-button,
  .progress-container input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .progress-container input[type=number] {
    -moz-appearance: textfield; }
  .progress-container div.cardsCoaches {
    width: 100%;
    margin: auto;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 1rem; }
    .progress-container div.cardsCoaches div.cardCoach {
      margin: 1rem auto 0 auto;
      width: 90%;
      height: 22rem;
      background-color: white;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      overflow: hidden;
      border-radius: 4px;
      filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
      -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
      background-position-y: center;
      background-position-x: center;
      background-size: cover;
      background-repeat: no-repeat; }
      .progress-container div.cardsCoaches div.cardCoach div {
        background-color: rgba(255, 255, 255, 0.3);
        padding: 0 0.7rem 0 0.7rem;
        width: 100%;
        height: min-content;
        backdrop-filter: blur(6px); }
        .progress-container div.cardsCoaches div.cardCoach div h2 {
          font-size: 1.2rem;
          margin-bottom: -0.5rem; }
        .progress-container div.cardsCoaches div.cardCoach div h3 {
          font-size: 1.1rem;
          margin-bottom: -1rem; }
        .progress-container div.cardsCoaches div.cardCoach div h4 {
          font-size: 1rem;
          margin-bottom: -0.5rem; }
    .progress-container div.cardsCoaches a.strava-login {
      margin: 2rem auto;
      padding: 0.5rem;
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #FC4C02; }
      .progress-container div.cardsCoaches a.strava-login img {
        margin-left: 0.5rem;
        height: 2rem; }
  .progress-container div.img-user-progress {
    width: 100%;
    margin: auto;
    height: auto;
    display: grid; }
    .progress-container div.img-user-progress input[type="file"] {
      display: none; }
    .progress-container div.img-user-progress div.formPhoto div.img-user {
      margin-top: 1rem;
      width: 100%;
      overflow: hidden;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }
      .progress-container div.img-user-progress div.formPhoto div.img-user img {
        width: 100%; }
      .progress-container div.img-user-progress div.formPhoto div.img-user .header-img {
        position: absolute;
        display: inline-flex;
        align-items: center;
        align-content: center;
        width: 100%;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        opacity: 0;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(6px) brightness(90%);
        -webkit-backdrop-filter: blur(6px) brightness(90%); }
        .progress-container div.img-user-progress div.formPhoto div.img-user .header-img h2 {
          margin-left: 1rem;
          font-size: 1.5rem;
          color: white; }
        .progress-container div.img-user-progress div.formPhoto div.img-user .header-img .delete-img {
          position: relative;
          width: min-content;
          margin-right: 1rem; }
          .progress-container div.img-user-progress div.formPhoto div.img-user .header-img .delete-img svg {
            left: 0;
            height: 2rem; }
            .progress-container div.img-user-progress div.formPhoto div.img-user .header-img .delete-img svg:hover {
              cursor: pointer; }
      .progress-container div.img-user-progress div.formPhoto div.img-user:hover .header-img {
        transition: opacity, 0.85s;
        -webkit-transition: opacity, 0.85s;
        -moz-transition: opacity, 0.85s;
        -ms-transition: opacity, 0.85s;
        -o-transition: opacity, 0.85s;
        opacity: 1; }
      .progress-container div.img-user-progress div.formPhoto div.img-user.now {
        animation-name: img-animation;
        animation-duration: 1s; }

@keyframes img-animation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .progress-container div.img-user-progress .photoSelectButton {
      margin-top: 1rem;
      width: 100%;
      height: 40rem;
      overflow: hidden;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px; }
      .progress-container div.img-user-progress .photoSelectButton:hover {
        cursor: pointer; }
      .progress-container div.img-user-progress .photoSelectButton .photoInput {
        height: 100%;
        width: 100%;
        border: 3px;
        border-style: solid;
        border-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }
        .progress-container div.img-user-progress .photoSelectButton .photoInput svg {
          fill: #ffffff;
          width: 7rem; }
    .progress-container div.img-user-progress div.buttonImg {
      float: left;
      width: 95%;
      height: 3rem;
      margin-top: 0.7rem;
      background-color: #126fbb;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      transition: background-color, 0.7s;
      -webkit-transition: background-color, 0.7s;
      -moz-transition: background-color, 0.7s;
      -ms-transition: background-color, 0.7s;
      -o-transition: background-color, 0.7s;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }
      .progress-container div.img-user-progress div.buttonImg label {
        color: #ffffff; }
        .progress-container div.img-user-progress div.buttonImg label:hover {
          cursor: pointer; }
      .progress-container div.img-user-progress div.buttonImg:hover {
        background-color: #1250dc;
        cursor: pointer; }
  .progress-container div {
    margin: 0 auto;
    width: 95%; }
    .progress-container div form p {
      color: #8D8D8D;
      font-size: 0.8em;
      margin-bottom: 0.3rem; }
    .progress-container div form input[type="date"], .progress-container div form input[type="text"], .progress-container div form input[type="password"], .progress-container div form input[type="password"], .progress-container div form input[type="number"] {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      padding: 0 0 0.5rem 0.7rem;
      border-color: #126fbb;
      color: #ffffff;
      background-color: transparent;
      width: 100%;
      font-size: 1.2rem;
      margin-bottom: 0.7rem; }
      .progress-container div form input[type="date"]:focus, .progress-container div form input[type="text"]:focus, .progress-container div form input[type="password"]:focus, .progress-container div form input[type="password"]:focus, .progress-container div form input[type="number"]:focus {
        outline: none;
        background-color: transparent;
        border-color: #696969; }
  .progress-container div:nth-child(2) {
    margin-top: 0; }
    .progress-container div:nth-child(2) form select.unidadesSelect {
      position: absolute;
      color: #ffffff;
      font-size: 1rem;
      padding: 0.4rem;
      background-color: #353535;
      border: 0;
      margin-top: -0.7rem;
      margin-left: -4.2rem;
      padding-right: 1.2rem;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px; }
      .progress-container div:nth-child(2) form select.unidadesSelect:focus {
        outline: none; }
    .progress-container div:nth-child(2) form div {
      margin: auto;
      width: 100%; }
      .progress-container div:nth-child(2) form div select {
        margin: auto;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px;
        border-style: solid;
        padding: 0 0 0.4rem 0.7rem;
        border-color: #126fbb;
        color: #ffffff;
        background-color: transparent;
        width: 100%;
        font-size: 1.2rem;
        margin-bottom: 0.7rem;
        outline: 0px;
        border-radius: 1px;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        -ms-border-radius: 1px;
        -o-border-radius: 1px; }
        .progress-container div:nth-child(2) form div select:focus {
          outline: none;
          background-color: #353535;
          border-color: none; }

.strava-data-container {
  font-family: Roboto-italic;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: grid; }
  .strava-data-container .strava-login {
    margin: 2rem auto;
    padding: 0.5rem;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FC4C02; }
    .strava-data-container .strava-login img {
      margin-left: 0.5rem;
      height: 2rem; }
  .strava-data-container .container {
    margin: 2rem auto;
    width: 90%;
    height: auto;
    color: #000000;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 3rem;
    background-color: #ffffff;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
    border-radius: 4px; }
    .strava-data-container .container div {
      padding: 1rem;
      text-align: center;
      align-content: center;
      margin: 1rem auto 0 auto;
      width: 95%; }
      .strava-data-container .container div h1 {
        font-weight: 600; }
      .strava-data-container .container div table {
        width: 100%;
        border-collapse: collapse; }
        .strava-data-container .container div table tr {
          text-align: center; }
        .strava-data-container .container div table th {
          background-color: #FC4C02;
          font-weight: 500;
          color: #ffffff;
          line-height: 2rem; }
        .strava-data-container .container div table td {
          padding: 0.7rem 3rem 0.7rem 3rem; }
        .strava-data-container .container div table tr {
          line-height: 2rem; }
        .strava-data-container .container div table tr:nth-child(even) {
          background-color: #FEFEFE; }
        .strava-data-container .container div table tr:nth-child(odd) {
          background-color: #F1F1F1; }
        .strava-data-container .container div table tr:hover {
          background-color: #D3D3D3; }
    .strava-data-container .container > div:nth-child(2) {
      overflow: auto;
      white-space: nowrap; }
    .strava-data-container .container > div:nth-child(3) {
      overflow: auto;
      white-space: nowrap; }

/*  .container{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
  }

  .row{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
} 
    ul{
        list-style: none;
        list-style-type: none;
    }

    > ul{
        display: flex;
        justify-content: center;
        
        li{
            ul{
                li{
                    background-color: red;
                }
            }
        }
    }
*/
.register-container {
  margin-top: 2.6rem;
  font-family: Roboto-italic;
  width: 100%;
  height: auto;
  background-color: #222222;
  display: grid;
  min-height: calc(100vh - var(--navbar-height));
  grid-template-columns: repeat(1, 2fr); }
  .register-container .form-container {
    background-color: #222222;
    text-align: center;
    padding: 1rem; }
    .register-container .form-container .status-bar {
      margin: 1rem auto 2rem auto;
      width: 15rem;
      height: 0.3rem;
      background-color: #353535;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      overflow: hidden; }
      .register-container .form-container .status-bar div {
        background-color: #126fbb;
        margin: 0;
        padding: 1%; }
        .register-container .form-container .status-bar div.loading-bar {
          animation-name: example;
          animation-duration: 10s; }
        .register-container .form-container .status-bar div.loading-bar-login {
          animation-name: example;
          animation-duration: 5s; }

@keyframes example {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
    .register-container .form-container header h1 {
      color: #ffffff;
      font-size: 1.8rem; }
    .register-container .form-container header p {
      color: #c8c8c8;
      font-size: 1.1rem;
      margin-bottom: 1rem; }
    .register-container .form-container header a {
      background-color: transparent; }
      .register-container .form-container header a:hover {
        color: #8D8D8D; }
    .register-container .form-container form label.selected {
      background-color: #696969;
      color: #000000; }
    .register-container .form-container form#loginForm {
      margin-top: 1rem; }
    .register-container .form-container form.inline-form, .register-container .form-container .columns-form {
      margin: 3rem auto;
      display: grid;
      grid-gap: 1rem; }
      .register-container .form-container form.inline-form div, .register-container .form-container .columns-form div {
        margin: auto;
        background-color: #353535;
        width: 100%;
        text-align: start;
        height: min-content;
        z-index: 10;
        transition: background-color, 0.5s;
        -webkit-transition: background-color, 0.5s;
        -moz-transition: background-color, 0.5s;
        -ms-transition: background-color, 0.5s;
        -o-transition: background-color, 0.5s;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px; }
        .register-container .form-container form.inline-form div input[type="radio"], .register-container .form-container .columns-form div input[type="radio"] {
          display: none; }
        .register-container .form-container form.inline-form div label, .register-container .form-container .columns-form div label {
          padding: 1.2rem 0rem 0rem 1.5rem;
          float: left;
          width: 100%;
          cursor: pointer; }
          .register-container .form-container form.inline-form div label svg, .register-container .form-container .columns-form div label svg {
            height: 3rem;
            fill: #8D8D8D; }
          .register-container .form-container form.inline-form div label p, .register-container .form-container .columns-form div label p {
            color: #ffffff;
            font-size: 1rem; }
        .register-container .form-container form.inline-form div:hover, .register-container .form-container .columns-form div:hover {
          background-color: #696969; }
    .register-container .form-container form.inline-form {
      grid-template-columns: repeat(1, 2fr); }
      .register-container .form-container form.inline-form div label {
        display: flex;
        padding-bottom: 1rem; }
        .register-container .form-container form.inline-form div label svg {
          width: 2.5rem; }
        .register-container .form-container form.inline-form div label div {
          z-index: 2;
          overflow: hidden;
          background-color: transparent;
          margin-left: 1.2rem; }
          .register-container .form-container form.inline-form div label div p:nth-child(1) {
            margin-top: 0.2rem; }
          .register-container .form-container form.inline-form div label div p:nth-child(2) {
            color: #c8c8c8;
            margin-right: 1rem;
            font-size: 0.85rem;
            margin-top: -0.9rem;
            margin-bottom: 0; }
    .register-container .form-container form.inline-form-text {
      margin: 3rem auto;
      display: grid;
      grid-gap: 1rem;
      width: 95%;
      grid-template-columns: repeat(1, 2fr); }
      .register-container .form-container form.inline-form-text div {
        text-align: start;
        margin: auto;
        width: 100%;
        height: min-content; }
        .register-container .form-container form.inline-form-text div p {
          color: #8D8D8D;
          font-size: 0.8em;
          margin-bottom: 0.3rem; }
        .register-container .form-container form.inline-form-text div label[for='FotoPerfil'] {
          display: grid;
          grid-template-columns: repeat(1, 1fr); }
          .register-container .form-container form.inline-form-text div label[for='FotoPerfil'] p {
            margin: 0 auto 1rem auto; }
          .register-container .form-container form.inline-form-text div label[for='FotoPerfil'] div.img-profile-coach {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            width: 15rem;
            height: auto;
            overflow: hidden; }
            .register-container .form-container form.inline-form-text div label[for='FotoPerfil'] div.img-profile-coach img {
              background-color: #ffffff;
              height: auto;
              width: 100%; }
          .register-container .form-container form.inline-form-text div label[for='FotoPerfil'] div.next {
            margin-top: -0.20rem;
            width: 15rem;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px; }
          .register-container .form-container form.inline-form-text div label[for='FotoPerfil'] input[type="file"] {
            display: none; }
        .register-container .form-container form.inline-form-text div input[type="date"], .register-container .form-container form.inline-form-text div input[type="text"], .register-container .form-container form.inline-form-text div input[type="password"], .register-container .form-container form.inline-form-text div input[type="password"], .register-container .form-container form.inline-form-text div input[type="number"], .register-container .form-container form.inline-form-text div textarea {
          border-top: 0;
          border-left: 0;
          border-right: 0;
          padding: 0 0 0.5rem 0.7rem;
          border-color: #126fbb;
          color: #ffffff;
          background-color: transparent;
          width: 100%;
          font-size: 1.2rem;
          font-family: Oxygen; }
          .register-container .form-container form.inline-form-text div input[type="date"]:focus, .register-container .form-container form.inline-form-text div input[type="text"]:focus, .register-container .form-container form.inline-form-text div input[type="password"]:focus, .register-container .form-container form.inline-form-text div input[type="password"]:focus, .register-container .form-container form.inline-form-text div input[type="number"]:focus, .register-container .form-container form.inline-form-text div textarea:focus {
            outline: none;
            background-color: transparent;
            border-color: #696969; }
        .register-container .form-container form.inline-form-text div textarea {
          height: 6rem;
          resize: none; }
        .register-container .form-container form.inline-form-text div div.selectFull select {
          margin: -1rem auto 2rem auto;
          border-top: 0;
          border-left: 0;
          border-right: 0;
          border-bottom: 2px;
          border-style: solid;
          padding: 0 0 0.4rem 0.7rem;
          border-color: #126fbb;
          color: #ffffff;
          background-color: transparent;
          width: 90%;
          font-size: 1.2rem;
          outline: 0px;
          border-radius: 1px;
          -webkit-border-radius: 1px;
          -moz-border-radius: 1px;
          -ms-border-radius: 1px;
          -o-border-radius: 1px; }
          @media (max-width: 375px) {
            .register-container .form-container form.inline-form-text div div.selectFull select {
              width: 86%; } }
          .register-container .form-container form.inline-form-text div div.selectFull select:focus {
            outline: none;
            background-color: #353535;
            border-color: none; }
        .register-container .form-container form.inline-form-text div div {
          display: inline-block; }
          .register-container .form-container form.inline-form-text div div select {
            position: absolute;
            color: #ffffff;
            font-size: 1rem;
            padding: 0.4rem;
            background-color: #353535;
            border: 0;
            margin-top: -0.7rem;
            margin-left: -4.2rem;
            padding-right: 1.2rem;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px; }
            .register-container .form-container form.inline-form-text div div select:focus {
              outline: none; }
      .register-container .form-container form.inline-form-text div.next {
        margin: auto;
        width: 80%;
        height: 3rem;
        margin-top: 1rem;
        background-color: #126fbb;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        transition: background-color, 0.7s;
        -webkit-transition: background-color, 0.7s;
        -moz-transition: background-color, 0.7s;
        -ms-transition: background-color, 0.7s;
        -o-transition: background-color, 0.7s; }
        .register-container .form-container form.inline-form-text div.next label {
          color: #ffffff; }
          .register-container .form-container form.inline-form-text div.next label:hover {
            cursor: pointer; }
        .register-container .form-container form.inline-form-text div.next:hover {
          background-color: #1250dc;
          cursor: pointer; }
      .register-container .form-container form.inline-form-text .facebook-login {
        padding: 0.9rem;
        font-size: 1rem;
        margin: 4rem auto 0 auto;
        width: 80%;
        grid-column-start: span 2;
        display: flex;
        align-items: center;
        justify-content: center; }
        .register-container .form-container form.inline-form-text .facebook-login img {
          margin-left: 0.5rem;
          height: 1.3rem; }
      .register-container .form-container form.inline-form-text .strava-login {
        padding: 0.5rem;
        font-size: 1rem;
        margin: 1.2rem auto 0 auto;
        width: 80%;
        grid-column-start: span 2;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FC4C02; }
        .register-container .form-container form.inline-form-text .strava-login img {
          margin-left: 0.5rem;
          height: 2rem; }
    .register-container .form-container form.inline-form-checkbox {
      margin: 3rem auto;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(1, 2fr); }
      .register-container .form-container form.inline-form-checkbox div {
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: start;
        background-color: #353535;
        padding: 1.5rem 1rem 1rem 0;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px; }
        .register-container .form-container form.inline-form-checkbox div input[type="checkbox"] {
          display: none; }
        .register-container .form-container form.inline-form-checkbox div input[type="checkbox"] + label {
          margin-left: 1rem;
          padding-bottom: 0.2rem;
          display: block;
          position: relative;
          padding-left: 40px;
          margin-bottom: 20px;
          font-size: 0.9rem;
          color: #ddd;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none; }
        .register-container .form-container form.inline-form-checkbox div input[type="checkbox"] + label:last-child {
          margin-bottom: 0; }
        .register-container .form-container form.inline-form-checkbox div input[type="checkbox"] + label:before {
          content: '';
          display: block;
          width: 25px;
          height: 25px;
          border: 1px solid #126fbb;
          position: absolute;
          left: 0;
          top: 0rem;
          opacity: .6;
          -webkit-transition: all .12s, border-color .08s;
          transition: all .12s, border-color .08s; }
        .register-container .form-container form.inline-form-checkbox div input[type="checkbox"]:checked + label:before {
          width: 10px;
          top: -5px;
          left: 5px;
          border-radius: 0;
          opacity: 1;
          border-top-color: transparent;
          border-left-color: transparent;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
      .register-container .form-container form.inline-form-checkbox div.next {
        margin: auto;
        width: 60%;
        height: 3rem;
        margin-top: 1rem;
        background-color: #126fbb;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        transition: background-color, 0.7s;
        -webkit-transition: background-color, 0.7s;
        -moz-transition: background-color, 0.7s;
        -ms-transition: background-color, 0.7s;
        -o-transition: background-color, 0.7s; }
        .register-container .form-container form.inline-form-checkbox div.next label {
          color: #ffffff; }
          .register-container .form-container form.inline-form-checkbox div.next label:hover {
            cursor: pointer; }
        .register-container .form-container form.inline-form-checkbox div.next:hover {
          background-color: #1250dc;
          cursor: pointer; }
    .register-container .form-container form.columns-form {
      grid-template-columns: repeat(2, 2fr); }
      .register-container .form-container form.columns-form .facebook-login {
        margin: 3rem auto 0 auto;
        padding: 0.9rem;
        width: 100%;
        grid-column-start: span 2;
        display: flex;
        align-items: center;
        justify-content: center; }
        .register-container .form-container form.columns-form .facebook-login img {
          margin-left: 0.5rem;
          height: 1.3rem; }
      .register-container .form-container form.columns-form .strava-login {
        margin: 0.5rem auto;
        padding: 0.5rem;
        width: 100%;
        grid-column-start: span 2;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FC4C02; }
        .register-container .form-container form.columns-form .strava-login img {
          margin-left: 0.5rem;
          height: 2rem; }
    .register-container .form-container .sucess {
      color: #ffffff;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }
      .register-container .form-container .sucess h1 {
        font-size: 2.9rem; }
      .register-container .form-container .sucess h3 {
        font-size: 1.8rem; }
      .register-container .form-container .sucessblack {
        color: #000000; }

@media (max-width: 900px) {
  .form-container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 60%; } }

@media (min-width: 900px) {
  .form-container {
    background-size: 190%;
    background-position: 75%;
    margin: 7rem auto;
    width: 35rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px; }
    .form-container form {
      margin: auto;
      width: 80%; } }
