:root {
  --navbar-height: 2.6rem;
  --colorHeader: #161616;
  --colorSectionInformation: #333333; }

@font-face {
  font-family: Roboto-black;
  src: url("../../src/fonts/Roboto-Black.ttf"); }

@font-face {
  font-family: Roboto-italic;
  src: url("../../src/fonts/Roboto-BlackItalic.ttf"); }

@font-face {
  font-family: Oxygen;
  src: url("../../src/fonts/Oxygen-Bold.ttf"); }

* {
  scroll-behavior: smooth;
  box-sizing: border-box; }

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

nav {
  position: absolute;
  font-family: Roboto-black;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--colorHeader);
  display: flex;
  align-items: center;
  z-index: 998;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }
  nav .brand-logo {
    color: #8d8d8d;
    font-size: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s; }
    nav .brand-logo:hover {
      color: white; }
    nav .brand-logo img {
      width: 8%; }
  nav .sidenav-trigger {
    z-index: 999;
    position: absolute;
    margin: 5%; }
    nav .sidenav-trigger.center {
      margin: 50%; }
    @media (max-width: 768px) {
      nav .sidenav-trigger.right {
        margin: 90%; } }
    @media (max-width: 425px) {
      nav .sidenav-trigger.right {
        margin: 85%; } }
    @media (min-width: 769px) {
      nav .sidenav-trigger.right {
        margin: 88%; } }
    nav .sidenav-trigger.left {
      margin: 5%; }
  nav ul {
    position: absolute;
    list-style: none;
    align-self: center;
    font-size: 0.9rem; }
    nav ul.center {
      margin: 50%; }
    nav ul.right {
      margin: 90%; }
    nav ul li {
      position: relative;
      float: left; }
      nav ul li a {
        color: #8d8d8d;
        padding: calc(var(--navbar-height) / 2.8) 10px;
        margin: 0px 20px 0 0;
        transition: color 0.5s;
        -webkit-transition: color 0.5s;
        -moz-transition: color 0.5s;
        -ms-transition: color 0.5s;
        -o-transition: color 0.5s; }
        nav ul li a:hover {
          color: white; }

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  outline: none; }

.line {
  fill: none;
  stroke: #8d8d8d;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1); }

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6; }

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6; }

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6; }

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6; }

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6; }

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6; }

.opened {
  transform: translateX(-13rem);
  -webkit-transform: translateX(-13rem);
  -moz-transform: translateX(-13rem);
  -ms-transform: translateX(-13rem);
  -o-transform: translateX(-13rem);
  transition-duration: 0.3s; }
  .opened .sidenav-trigger {
    transform: translateX(5vw);
    -webkit-transform: translateX(5vw);
    -moz-transform: translateX(5vw);
    -ms-transform: translateX(5vw);
    -o-transform: translateX(5vw); }
  .opened .brand-logo {
    transform: translateX(25vw);
    -webkit-transform: translateX(25vw);
    -moz-transform: translateX(25vw);
    -ms-transform: translateX(25vw);
    -o-transform: translateX(25vw); }

.closed {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transition-duration: 0.3s; }
  .closed .sidenav-trigger {
    transform: translateX(0vw);
    -webkit-transform: translateX(0vw);
    -moz-transform: translateX(0vw);
    -ms-transform: translateX(0vw);
    -o-transform: translateX(0vw); }
  .closed .brand-logo {
    transform: translateX(0vw);
    -webkit-transform: translateX(0vw);
    -moz-transform: translateX(0vw);
    -ms-transform: translateX(0vw);
    -o-transform: translateX(0vw); }

aside {
  position: absolute;
  z-index: 996;
  top: 0;
  margin: auto 100%;
  width: 13rem;
  height: 100vh;
  background-color: var(--colorHeader);
  color: #ffffff;
  filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.25));
  -webkit-filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.25)); }
  aside ul li {
    font-size: 1rem;
    margin: 1.5rem 0 0 0; }

main {
  margin: 0;
  width: 100%;
  overflow: hidden;
  margin-top: var(--navbar-height);
  position: absolute;
  z-index: 1; }
  main section a {
    width: min-content;
    background-color: #126fbb;
    padding: 1rem 5rem 1rem 5rem;
    text-decoration: none;
    color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: background-color, 0.7s;
    -webkit-transition: background-color, 0.7s;
    -moz-transition: background-color, 0.7s;
    -ms-transition: background-color, 0.7s;
    -o-transition: background-color, 0.7s; }
    main section a:hover {
      background-color: #1250dc; }
  main section.background {
    height: calc(100vh - var(--navbar-height));
    width: 100%;
    display: flex;
    align-items: flex-start;
    background-image: url("../../src/img/background-main-screen.jpg");
    background-repeat: no-repeat;
    background-position: 20% 20%;
    background-size: cover, contain; }
    main section.background div.background-filter {
      position: absolute;
      margin: 0px;
      width: 100%;
      height: calc(100vh - var(--navbar-height));
      backdrop-filter: saturate(140%) brightness(90%) blur(1px); }
    main section.background div {
      width: 25rem;
      font-family: Roboto-italic;
      margin: 7rem 0 0 22rem;
      position: absolute;
      color: #ffffff; }
      main section.background div h1 {
        font-size: 4.5rem;
        margin-bottom: 0; }
      main section.background div h2 {
        margin-top: 0;
        font-size: 2rem; }
  main section.divider {
    overflow: hidden;
    position: absolute;
    margin-top: -12vw;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 220rem 12vw 0;
    border-color: transparent transparent var(--colorSectionInformation) transparent; }
  main section.information, main .footerInformation {
    width: 100%;
    height: auto;
    background-color: var(--colorSectionInformation);
    padding-bottom: 8rem; }
  main section.footerInformation {
    background-color: #ffffff; }

@media (max-width: 860px) {
  main section.background {
    background-position: 75% 50%;
    display: flex;
    justify-content: center; }
    main section.background div {
      align-self: center;
      width: 20rem;
      margin: 0;
      text-align: center; }
      main section.background div h1 {
        font-size: 3.5rem; }
      main section.background div h2 {
        font-size: 1.5rem; } }

.responsive-image {
  width: 100%; }

.center {
  margin: auto; }

.left {
  margin: 0; }

.right {
  margin: 0 0 0 auto; }

.fixed {
  position: fixed; }

.absolute {
  position: absolute; }

.text-align-start {
  text-align: start; }

.text-align-center {
  text-align: center; }

.text-align-end {
  text-align: end; }

.hide {
  display: none; }
  @media (max-width: 575px) {
    .hide-on-extra-small-only {
      display: none; } }
  @media (max-width: 767px) and (min-width: 576px) {
    .hide-on-small-only {
      display: none; } }
  @media (max-width: 991px) and (min-width: 768px) {
    .hide-on-medium-only {
      display: none; } }
  @media (max-width: 1199px) and (min-width: 992px) {
    .hide-on-large-only {
      display: none; } }
  @media (min-width: 1200px) {
    .hide-on-extra-large-only {
      display: none; } }
  @media (max-width: 778px) {
    .hide-on-small-and-down {
      display: none; } }
  @media (min-width: 778px) {
    .hide-on-small-and-up {
      display: none; } }

.show {
  display: inline; }
  @media (max-width: 575px) {
    .show-on-extra-small-only {
      display: inline; } }
  @media (max-width: 767px) and (min-width: 576px) {
    .show-on-small-only {
      display: inline; } }
  @media (max-width: 991px) and (min-width: 768px) {
    .show-on-medium-only {
      display: inline; } }
  @media (max-width: 1199px) and (min-width: 992px) {
    .show-on-large-only {
      display: inline; } }
  @media (min-width: 1200px) {
    .show-on-extra-large-only {
      display: inline; } }
  @media (max-width: 778px) {
    .show-on-small-and-down {
      display: inline; } }
  @media (min-width: 778px) {
    .show-on-small-and-up {
      display: inline; } }

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem; }

.card {
  background-color: #ffffff;
  color: black;
  height: auto;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: Oxygen;
  overflow: hidden; }
  .card div.card-image {
    height: min-content; }
    .card div.card-image img {
      width: 100%; }
  .card div.card-content {
    padding: 1rem;
    font-size: 0.9rem; }

@media (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(1, 1fr); }
    .cards .card:nth-child(1) {
      margin: 5% 5% 0 5%; }
    .cards .card {
      margin: 0% 5% 0 5%;
      width: 90%; }
  .footerInformation {
    grid-template-columns: repeat(1, 2fr);
    text-align: center; }
    .footerInformation div {
      width: 100%;
      margin: auto; }
    .footerInformation div:nth-child(1) {
      margin-bottom: -4%; }
      .footerInformation div:nth-child(1) img {
        width: 60%; }
    .footerInformation div:nth-child(3) {
      margin-top: 14%; }
      .footerInformation div:nth-child(3) img {
        width: 90%; }
  footer {
    grid-template-columns: repeat(2, 2fr); }
    footer div ul {
      font-size: 0.8rem; }
    footer div:nth-child(3) {
      margin-top: -2rem; } }

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 3rem; }
    .cards .card {
      margin: 5% 5% 0 5%;
      width: 92%; }
  .footerInformation {
    grid-template-columns: repeat(3, 2fr); }
    .footerInformation div {
      width: 100%;
      margin: auto; }
    .footerInformation div:nth-child(1) {
      margin-left: 5%; }
      .footerInformation div:nth-child(1) img {
        width: 70%; }
    .footerInformation div:nth-child(2) {
      margin-left: -25%;
      margin-right: 0;
      text-align: center; }
    .footerInformation div:nth-child(3) {
      margin-left: -30%; }
      .footerInformation div:nth-child(3) img {
        width: 120%; }
  footer {
    grid-template-columns: repeat(3, 2fr); }
    footer div ul {
      font-size: 0.9rem; } }

@media (min-width: 1244px) {
  .cards {
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 4rem; }
    .cards .card {
      margin: 5% 5% 0 5%;
      width: 100%; } }

.footerInformation {
  display: grid;
  width: 100%;
  margin-top: 1rem;
  font-family: Roboto-italic; }
  .footerInformation img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }
  .footerInformation h2 {
    margin-bottom: 2.5rem; }

footer {
  padding-bottom: 2rem;
  background-color: var(--colorHeader);
  font-family: Roboto-italic;
  width: 100%;
  display: grid; }
  footer div {
    text-align: start;
    margin: 3rem auto;
    width: 50%; }
    footer div h3 {
      color: #d4d4d4;
      font-size: 1.5rem;
      margin-bottom: 0rem; }
    footer div ul {
      list-style: none;
      padding-left: 0; }
      footer div ul li {
        margin-bottom: 0.7rem; }
        footer div ul li a {
          color: #8d8d8d;
          transition: color 0.5s;
          -webkit-transition: color 0.5s;
          -moz-transition: color 0.5s;
          -ms-transition: color 0.5s;
          -o-transition: color 0.5s; }
          footer div ul li a:hover {
            color: white; }

/*  .container{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
  }

  .row{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
} 
    ul{
        list-style: none;
        list-style-type: none;
    }

    > ul{
        display: flex;
        justify-content: center;
        
        li{
            ul{
                li{
                    background-color: red;
                }
            }
        }
    }
*/
.register-container {
  font-family: Roboto-italic;
  width: 100%;
  background-color: #222222;
  display: grid;
  height: calc(100vh - var(--navbar-height));
  grid-template-columns: repeat(1, 2fr); }
  .register-container .form-container {
    background-color: #222222;
    text-align: center;
    padding: 1rem; }
    .register-container .form-container .status-bar {
      margin: 1rem auto 2rem auto;
      width: 15rem;
      height: 0.3rem;
      background-color: #353535;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      overflow: hidden; }
      .register-container .form-container .status-bar div {
        background-color: #126fbb;
        margin: 0;
        padding: 1%; }
    .register-container .form-container header h1 {
      color: #ffffff;
      font-size: 1.8rem; }
    .register-container .form-container header p {
      color: #c8c8c8;
      font-size: 1.1rem; }
    .register-container .form-container form {
      margin: 3rem auto;
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      grid-gap: 1rem; }
      .register-container .form-container form div {
        margin: auto;
        background-color: #353535;
        width: 100%;
        text-align: start;
        height: min-content;
        transition: background-color, 0.7s;
        -webkit-transition: background-color, 0.7s;
        -moz-transition: background-color, 0.7s;
        -ms-transition: background-color, 0.7s;
        -o-transition: background-color, 0.7s;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px; }
        .register-container .form-container form div input[type="radio"] {
          display: none; }
        .register-container .form-container form div label {
          padding: 1.2rem 0rem 0rem 1.5rem;
          float: left;
          width: 100%;
          cursor: pointer; }
          .register-container .form-container form div label svg {
            height: 3rem;
            fill: #8D8D8D; }
          .register-container .form-container form div label p {
            color: #ffffff;
            font-size: 1rem; }
        .register-container .form-container form div:hover {
          background-color: #696969; }

@media (max-width: 900px) {
  .form-container {
    margin: 4rem auto;
    width: 100%; } }

@media (min-width: 900px) {
  .form-container {
    margin: 7rem auto;
    width: 35rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px; }
    .form-container form {
      margin: auto;
      width: 80%; } }
